@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: end;
  padding-top: 20px;
}
nav .darkModeDiv {
  font-size: 24px;
  cursor: pointer;
  caret-color: transparent;
  display: block;
  align-items: center;
  /* If checked, show the checked image */
  /* If checked, hide the unchecked image */
}
nav .darkModeDiv img {
  margin: 1em 0.5em;
  max-height: 30px;
  height: 85%;
}
nav .darkModeDiv input {
  display: none;
}
nav .darkModeDiv .img-checked {
  display: none;
}
nav .darkModeDiv input:checked ~ .img-checked {
  display: inline;
}
nav .darkModeDiv input:checked ~ .img-unchecked {
  display: none;
}

body.darkmode {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
body.darkmode #events-container article {
  border-color: rgb(29, 29, 29);
}
body.darkmode #addEvent {
  color: white;
}
body.darkmode #addEvent span {
  background-color: black;
}
body.darkmode button {
  color: white;
}
body.darkmode button span {
  background-color: black;
}
body.darkmode .deleteBtn,
body.darkmode .editBtn {
  color: black;
}

body {
  color: black;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(236, 237, 248);
  justify-content: center;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0em 4em 0em 3em;
}
main .error-slot {
  color: rgb(241, 41, 101);
  display: none;
}

#addEvent {
  margin: 4em 0em 4em 0em;
  color: black;
  align-items: center;
  background-image: linear-gradient(144deg, rgb(131, 196, 210), #b148b1 50%, rgb(212, 29, 29));
  border: none;
  border-radius: 5em 1.5em;
  box-shadow: rgba(190, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-size: 1em;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 9em;
  padding: 0.2em;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
#addEvent:active {
  outline: 0;
}
#addEvent span {
  background-color: rgb(236, 237, 248);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
#addEvent span:hover {
  background: none;
}

button {
  align-items: center;
  background-image: linear-gradient(144deg, rgb(131, 196, 210), #b148b1 50%, rgb(212, 29, 29));
  color: black;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(190, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-size: 1em;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
}
button:hover {
  background-color: rgb(29, 29, 29);
  cursor: pointer;
}
button:active {
  outline: 0;
}
button span {
  background-color: rgb(236, 237, 248);
  padding: 0.1em;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
button span:hover {
  background: none;
}

input,
textarea {
  border: 1px;
  border-radius: 1em;
  border-color: rgba(255, 255, 255, 0.3843137255);
  background-color: rgba(255, 255, 255, 0.256);
}

#form {
  color: white;
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#form .formDisplay {
  transform: translate(-0.5em);
  text-align: center;
  display: grid;
  gap: 1em;
  background-color: rgba(29, 29, 29, 0.39);
  padding: 5rem;
  width: 100%;
}

#events-container,
#dates-container {
  text-align: center;
}
#events-container article,
#dates-container article {
  border: 0;
  border-radius: 2em;
  margin: 0em 0em 2em 0em;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.116);
  padding: 1.5em;
  display: grid;
  justify-content: center;
}
#events-container article:nth-child(even),
#dates-container article:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.192);
}

.available {
  color: rgb(97, 177, 196);
}

.unavailable {
  color: rgba(252, 34, 34, 0.858);
}

.date-availability {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3em;
  margin: 2em 0em 2em 0em;
}

.deleteBtn,
.editBtn {
  margin: 0em 3em 1em 3em;
}
.deleteBtn:hover,
.editBtn:hover {
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .addEventBtn {
    font-size: 24px;
    min-width: 196px;
  }
}/*# sourceMappingURL=style.css.map */